.app-wrapper{
height: 100vh
}

a:link{
  text-decoration: none;
}
.navbar{
  text-align: center;
  margin:auto;
  display: flex;
  justify-content: space-between;
  background-color: #DEE5F2;
  padding-left: 10%;
  padding-right: 10%;
  height: 100px;
  font-size: 2em;
  font-family: courier;
  border-bottom: 5px solid #ECC2CE;
}


.orderButton{
  border: 3px solid #705F4E;
  color: #705F4E;
  background-color: transparent;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  padding: 1em 2em;
  transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}

.orderButton:hover{
  background-color: #ECC2CE;
  color: #77B1BE;
  border: none;
}
.home{
  height: 65vh;
  background-image: url("./pics/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10%;
  text-align: center;
}

.socialmediabox{
  width: 100%;
  text-align: center;
  background-image: url("./pics/bottom-background.png");
  border-top: 3px solid #77B1BE;
}

.socialmediaLinks{
  margin: 1%;
  color: #705F4E;
  font-size: 4em;
}
i:hover{
  color: #ECC2CE;
  transition: color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}

.foodMenu{
  background-color: #B6D1D2;
  height: 100vh;
  
}

.cupcakesBox{
  background-color: #B6D1D2;
  font-size: 2em;
  height: 500px;
  display: inline-block;
  text-align: center;
  padding: 1%;
  padding-top: 3%;
  border: 1px solid #5CABB9;
  width: 20%;
  vertical-align: middle;
}
.cupcakePic{
  width: 140px;
}
.cupcakes a {
  text-decoration: none;
  color: red;
    margin: 10% 10px 10% 20px;
}
.numbers{
  display: inline-block;
  font-size: 2em;
  margin-right: 6%;
  vertical-align: top;
  padding-top: 5%

}
.addButtonBox{
  display: inline-block;
  width: 50px;
}
.addButton{
  margin: 5%;
  width: 80%;
  background-color: transparent;
  color: #DA8D91;
  font-size: 1.3em;
  border: none;
  
}

.addButton:hover{
  border: none;
  cursor: pointer;
}
.minis{
  float: right;
  width: 40%;
}
.minisCenter{
  width: 100%;
}

.orderOptions{
  text-align: center;
}
.about{
  height: 100vh;
  background-color: #ECC2CE;
    padding-top: 10%;
    text-align: center;
}
.contact{
  height: 700px;
  background-color: yellow;
    padding-top: 10%;
    text-align: center;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  color: #79B5C4;
  text-align: center;
  height: 30px;
  font-size: 1.5em;
  background-color: #ECC2CE;
}

.logo {
  width: 20%;
}

.orderReview{
  margin-top: 10%;
  text-align: center;
}
.reviewTopBar{
  display: inline-block;
  width: 23%;
  text-align: center;

  
}

.reviewOrderBox{
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 1%;
  padding-right: 1%;
  justify-content: space-between;
  border: 1px solid black;
}
.totalCost{
  font-size: 2em;
  margin-top: 5%;
  margin-bottom: 5%;
}
.formularioBox{
  margin-bottom: 3%;
  text-align: center;
}
.formulario{
  width: 25%;
  margin-bottom: 1%;
}

.placeOrder{
  margin: 5%;
}