.app-wrapper{
height: 100vh
}

a:link{
  text-decoration: none;
}

.navbar{
  text-align: center;
  margin:auto;
  display: flex;
  justify-content: space-between;
  background-color: #DEE5F2;
  padding-left: 10%;
  padding-right: 10%;
  height: 10vh;
  font-size: 2em;
  font-family: courier;
  border-bottom: 5px solid #ECC2CE;
}


.orderButton{
  font-family: serif;
  font-weight: 300;
  border: 3px solid #705F4E;
  color: #705F4E;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 25px;
  padding: 1em 2em;
  transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}

.orderButton:hover{
  background-color: #ECC2CE;
  color: #77B1BE;
  border: none;
}

.home{
  height: 65vh;
  background-image: url("./pics/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 160px;
  text-align: center;
}

.socialmediabox{
  width: 100%;
  /*text-align: center;*/
  background-image: url("./pics/bottom-background.png");
  border-top: 3px solid #77B1BE;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmediaLinks{
  margin: 1%;
  color: #705F4E;
  font-size: 4em;
}
a:hover{
  color: inherit;
  transition: color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}

i:hover{
  color: #ECC2CE;
  transition: color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}

.foodMenu{
  background-color: #F1D3DA;
  padding-bottom: 5vh;


}
.reviewOrderButtonBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 300px
    /*position: relative;*/
}
@media (max-width: 599px) {
  .reviewOrderButtonBox {
     padding-top: 40px;
  }
}
.basket {
    color: #705F4E;
}




.reviewOrderButton{
  background-color:#77B2BE;
  border: 1px solid  #705F4E;
  box-shadow: 2px 2px 2px #705F4E;
  color: #DCE2F0;
  font-size: 2.3em;
  height: 50%;
  width:85%;
  border-radius: 2px;



}
.reviewImage{
    height: 20vh;
    width: 20vh;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: auto;

}

.reviewOrderButton:hover{
  background-color: #DCE2F0;
  color: #77B2BE;
  cursor: pointer;

}
.cupcakesBox{
  background-color: #F2E0E4;
  display: inline-block;
  text-align: center;
  padding: 1%;
  padding-top: 8%;
  border: 1px solid #ECC2CE;
  width: 20%;
  vertical-align: top;
  height: 700px;
}

.reviewBox{
    width: 20%;
    background-color: #F2E0E4;
    display: inline-block;
    height: 700px;
}
@media (max-width: 599px) {
  .reviewBox {
      width: 100%;
      height: 550px;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .reviewBox {
      width: 33%%;
   }
}
@media (max-width: 800px) {
  .cupcakesBox { width: 100%; }
}
.cupcakeTitle{
  color: #3A322C;
  font-family: serif;
  font-size: 36px; font-weight: 400;
  font-style: italic;
  line-height: 44px;
  text-align: center;
}
.cupcakeDescription{
  font-family: erif;
}
.cupcakePic{
  width: 140px;
}
.cupcakes a {
  text-decoration: none;
  color: red;
    margin: 10% 10px 10% 20px;
}
.numbers{
  display: inline-block;
  font-size: 3em;
  margin-right: 6%;
  vertical-align: top;
  padding-top: 3%;
  color: #705F4E;

}
.addButtonBox{
  display: inline-block;
  width: 50px;
}
.addButton{
  margin: 5%;
  width: 80%;
  background-color: transparent;
  color: #77B2BD;
  font-size: 1.3em;
  border: none;
  outline: none;

}

.addButton:hover{
  border: none;
  cursor: pointer;
}
.minis{
  float: right;
  width: 40%;
}
.minisCenter{
  width: 100%;
}

.orderOptions{
  text-align: center;
}
.about{
  background-color: #B6D1D2;
  padding-top: 150px;
    color: #49413B;
    font-family: sans-serif;
}
.tripAdvisorBox{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

}
.tripAdvisor{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}
.uber{
  display: inline;
}
.aboutTitle{
  text-align: center;
  margin: auto;
  width: 60%;
  border-top: 2px solid #49413B;
  border-bottom: 2px solid #49413B;
  padding-bottom: 20px;

}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  color: #77B2BD;
  text-align: center;
  height: 5vh;
  font-size: 1.5em;
  background-color: #ECC2CE;
}
.aboutLink{
  color: #77B2BD;
}

.logo {
  width: 23vh;
}

.orderReview{
  padding-top: 90px;
  text-align: center;
  background-color: #F5DFE4;
  height: auto;
}
.reviewTopBar{
  display: inline-block;
  width: 50%;
  text-align: center;
  color:black;
}

.reviewOrderBox{
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-between;
  border-bottom: 2px solid #78B0BE;
  color: #705F4E;
  background-color: #DEE4F0;
  margin: auto;
  width: 60%;

}
.totalCost{
  font-size: 2em;
  margin-top: 5%;
  margin-bottom: 5%;
}
.formularioBox{
  margin-bottom: 2%;
  text-align: center;
}
.formulario{
  width: 30%;
  margin-bottom: 1%;
}
@media (max-width: 599px) {
  .formulario {
      width: 80%;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .omsBox {
      width: 50%;
   }
}

.placeOrder{
  padding-bottom: 75px;
  padding-top: 25px;
}
.placeOrderButtons{
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  background-color: #77B2BE;
  color:#DCE2F0;
  font-size: 2em;
}
.placeOrderButtons:hover{
  background-color: #DCE2F0;
  color: #77B2BE;
  cursor: pointer;
}
.datepicker{
  width: 30%;
  margin: auto;
}
@media (max-width: 599px) {
  .datepicker {
      width: 80%;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .omsBox {
      width: 50%;
   }
}

.thankYouBox{
  text-align: center;
  padding-top: 150px;
  padding-bottom: 10%;
  background-color: #F2E0E4;
  height: auto;
  color: #705F4E;
}
.totalCostThankYouPage{
  margin: auto;
  margin-top: 0;
  border-bottom: 2px solid #78B0BE;
  color: #705F4E;
  background-color: #DEE4F0;
  width: 60%;
  text-align: right;
  padding:1%;
}
.pickUpDay{
  font-size: 15px;
  background-color: #F2E0E4;

}
.logoutBox{
  background-color: #F2E0E4;
  text-align: right;
}

.logout{
    margin-right: 1%;
}


input[type=checkbox] {
zoom: 3;
display: inline-block;
margin-right: 2%;
}
input[type=checkbox]:hover{
  cursor: pointer;
}

.omsBox{
  padding-top: 120px;
  padding-bottom: 50px;
  background-color: #F2E0E4;
  height: 100%;
  color: #3B332D;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  vertical-align: top;
  width: 33%;
}
.orderNumberOms{
    font-size: 1.7em;
    color:black ;
}
.omsBackground{
  background-color: #F2E0E4;
}
.omsTopBar{
  display: inline-block;
  justify-content: space-between;
  width: 49%;

}
.omsListBox{
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-between;
  border-bottom: 2px solid #78B0BE;
  color: #3B332D;
  background-color: #DEE4F0;
  width: 100%;
}
@media (max-width: 599px) {
  .omsBox {
      width: 100%;
      padding-left: 10px;
      padding-bottom: 0px;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .omsBox {
      width: 50%;
      padding-bottom: 0px;
   }
}



.totalCostOms{
  margin-top: 0;
  border-bottom: 2px solid #78B0BE;
  color: #78B0BE;
  background-color: #DEE4F0;
  width: 50%;
  padding:1%;
  font-style: italic;
  font-size: 1.7em;
  color: black;

}
.pickUpDayOms{
  font-size: 15px;
  display: inline-block;
}
.pickUpTimeOms{
    font-size: 15px;
    display: inline-block;
    text-align: right;
}
.signinBox{
  text-align: center;
  margin-top: 200px;
  font-size: 2em;
}

.signin{
  display: block;
  margin: auto;
}
